In [19]:
import pandas as pd
from pandas.io.json import json_normalize
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from pathlib import Path
import os

#Open CSV file
dir = Path().resolve()
#folder = 'CSV files'
file = 'all_data_1.csv'
p#ath = os.path.join(dir, folder, file)
#print(path)
df = pd.read_csv(file)

NameError: name 'p' is not defined

In [5]:
cols = ['name','type','distance','start_date_local','moving_time']

In [12]:
activities = df[cols]

In [13]:
print(activities)

                                                  name         type  distance  \
0    ðŸŒ§ Lunch Run - stress reliever, 5.10km on watch...          Run    4984.2
1                ðŸŒ§ Afternoon toddle - wet, but puddles         Hike    1139.9
2             Lunch Activity - weights, cables and abs      Workout       0.0
3                           TDZ Stage 2: Standard Ride  VirtualRide   24237.7
4                                              Watopia  VirtualRide    2802.1
..                                                 ...          ...       ...
775                                     Afternoon Ride         Ride   24159.8
776                                First ride with dad         Ride    6900.4
777                                       Morning Ride         Ride   12420.3
778                                            Failure          Run    3866.5
779                                        Morning Run          Run    3873.1

         start_date_local  moving_time
0    2021-01-14T12:19:22Z         1454
1    2021-01-13T16:34:31Z         1208
2    2021-01-13T12:11:11Z         1938
3    2021-01-12T18:02:46Z         3054
4    2021-01-12T17:49:03Z          326
..                    ...          ...
775  2013-08-21T15:54:04Z         3564
776  2013-08-11T09:20:49Z         1201
777  2013-08-06T08:23:51Z         1878
778  2013-06-04T17:34:19Z         1016
779  2013-06-02T08:14:32Z         1174

[780 rows x 5 columns]

In [14]:
activities['moving_time'] = activities['moving_time'].div(60).round(2)

C:\Users\Liam_Statham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df.columns

Index(['resource_state', 'name', 'distance', 'moving_time', 'elapsed_time',
       'total_elevation_gain', 'type', 'workout_type', 'id', 'external_id',
       'upload_id', 'start_date', 'start_date_local', 'timezone', 'utc_offset',
       'start_latlng', 'end_latlng', 'location_city', 'location_state',
       'location_country', 'start_latitude', 'start_longitude',
       'achievement_count', 'kudos_count', 'comment_count', 'athlete_count',
       'photo_count', 'trainer', 'commute', 'manual', 'private', 'visibility',
       'flagged', 'gear_id', 'from_accepted_tag', 'upload_id_str',
       'average_speed', 'max_speed', 'has_heartrate', 'average_heartrate',
       'max_heartrate', 'heartrate_opt_out', 'display_hide_heartrate_option',
       'elev_high', 'elev_low', 'pr_count', 'total_photo_count', 'has_kudoed',
       'suffer_score', 'athlete.id', 'athlete.resource_state', 'map.id',
       'map.summary_polyline', 'map.resource_state', 'average_cadence',
       'average_watts', 'weighted_average_watts', 'kilojoules', 'device_watts',
       'max_watts', 'average_temp'],
      dtype='object')

In [57]:
df1 = df.iloc[:,[1,6,2,3,12]]

                                                  name         type  distance  \
0    ðŸŒ§ Lunch Run - stress reliever, 5.10km on watch...          Run    4984.2
1                ðŸŒ§ Afternoon toddle - wet, but puddles         Hike    1139.9
2             Lunch Activity - weights, cables and abs      Workout       0.0
3                           TDZ Stage 2: Standard Ride  VirtualRide   24237.7
4                                              Watopia  VirtualRide    2802.1
..                                                 ...          ...       ...
775                                     Afternoon Ride         Ride   24159.8
776                                First ride with dad         Ride    6900.4
777                                       Morning Ride         Ride   12420.3
778                                            Failure          Run    3866.5
779                                        Morning Run          Run    3873.1

     moving_time      start_date_local
0           1454  2021-01-14T12:19:22Z
1           1208  2021-01-13T16:34:31Z
2           1938  2021-01-13T12:11:11Z
3           3054  2021-01-12T18:02:46Z
4            326  2021-01-12T17:49:03Z
..           ...                   ...
775         3564  2013-08-21T15:54:04Z
776         1201  2013-08-11T09:20:49Z
777         1878  2013-08-06T08:23:51Z
778         1016  2013-06-04T17:34:19Z
779         1174  2013-06-02T08:14:32Z

[780 rows x 5 columns]

In [41]:
df1.sample(10)['moving_time']

90     1627
54     1940
16     3359
35     1439
121    1342
629    2053
761    2459
440     859
491      83
673    3425
Name: moving_time, dtype: int64

df1.plot.scatter(x = 'distance', y = 'type')

In [40]:
df1.plot.scatter(x = 'distance', y = 'type')

ValueError: scatter requires y column to be numeric

In [42]:
df1.sample(10)['moving_time']

293     315
358    1498
529    2198
139    2658
188    5391
129    8819
19     2274
94     1808
26     1418
189    4491
Name: moving_time, dtype: int64

In [45]:
df1['moving_time'].div(60).round(2)

0      24.23
1      20.13
2      32.30
3      50.90
4       5.43
       ...
775    59.40
776    20.02
777    31.30
778    16.93
779    19.57
Name: moving_time, Length: 780, dtype: float64

In [46]:
df1.columns

Index(['name', 'type', 'distance', 'moving_time', 'start_date_local'], dtype='object')

In [59]:
df1['distance'] = df1['distance'].div(1000).round(2)

In [61]:
df1

,name,type,distance,moving_time,start_date_local
0,"ðŸŒ§ Lunch Run - stress reliever, 5.10km on watch...",Run,4.98,24.23,2021-01-14T12:19:22Z
1,"ðŸŒ§ Afternoon toddle - wet, but puddles",Hike,1.14,20.13,2021-01-13T16:34:31Z
2,"Lunch Activity - weights, cables and abs",Workout,0.00,32.30,2021-01-13T12:11:11Z
3,TDZ Stage 2: Standard Ride,VirtualRide,24.24,50.90,2021-01-12T18:02:46Z
4,Watopia,VirtualRide,2.80,5.43,2021-01-12T17:49:03Z
...,...,...,...,...,...
775,Afternoon Ride,Ride,24.16,59.40,2013-08-21T15:54:04Z
776,First ride with dad,Ride,6.90,20.02,2013-08-11T09:20:49Z
777,Morning Ride,Ride,12.42,31.30,2013-08-06T08:23:51Z
778,Failure,Run,3.87,16.93,2013-06-04T17:34:19Z
779,Morning Run,Run,3.87,19.57,2013-06-02T08:14:32Z

In [63]:
df1['moving_time'] = df['moving_time']

In [66]:
type(df1['moving_time'])

pandas.core.series.Series