In [10]:
#webscraping
#https://fcpython.com/scraping/introduction-scraping-data-transfermarkt

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
#Pretend to be a browser!
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#get website
page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/ajax/yw2/saison_id/2000/plus/0/galerie/0/page/1/"
#get website code
pageTree = requests.get(page, headers=headers)
#parse website code into html
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [12]:
#create a variable for all players found on the website, rightclick and inspect to find the class and variable
Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

In [13]:
Players[0].text

'Luís Figo'

In [14]:
#Same as players variable, but with values
Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

In [15]:
Values[0].text

'£54.00m'

In [16]:
#Create list variables for players and values
PlayersList = []
ValuesList = []

#for loop to put players into players list and values into values list, set range of data available on website
for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)

#add lists to dataframe    
df = pd.DataFrame({"Players":PlayersList, "Values":ValuesList}) 

df.head()

             Players   Values
0          Luís Figo  £54.00m
1      Hernán Crespo  £51.13m
2      Marc Overmars  £36.00m
3  Gabriel Batistuta  £32.54m
4     Nicolas Anelka  £31.05m